* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
  overflow-x: hidden;
}

/* body {
 
  font-family: Roboto, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
} */

body {
  font-family: "Roboto", sans-serif; /* Make sure the desired font is available */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Set your desired background color */
}

.sticky .header-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /* width: 100vw; */
  height: 15vh;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  width: 100%;
  max-width: 100vw;
  padding: 0 5%;
}

.test .header {
  background-color: #000;
  width: 100vw;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 140rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.container {
  max-width: 1200px; /* Set your desired maximum width */
  width: 100%;
  padding: 0 20px; /* Adjust as needed */
  margin: 0 auto;
}
/* .header {
  max-width: none;
} */
.grid {
  display: grid;
  gap: 9.5rem 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 4.8rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #000;
  letter-spacing: -0.25px;
}
.heading-primary {
  font-size: 2.6rem;
  line-height: 1.05;
  margin-bottom: 1.6rem;
}
.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 7rem;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: red;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  letter-spacing: 0.375px;
}
.link:link,
.link:visited {
  display: inline-block;
  color: red;
  text-decoration: none;
  border-bottom: 0.5px solid currentColor;
  padding-bottom: 1px;
  transition: all 0.3s;
}
.link:active,
.link:hover {
  color: #cf711f;
  border-bottom: 0.5px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.list-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #e67e22;
}
:focus {
  outline: 0;
  box-shadow: 0 0 0 0.4rem rgba(230, 125, 34, 0.5);
}
.center-text {
  text-align: center;
}
