/* ----- HEADER ------------------  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  /* height: 9.6rem;
  padding: 0 4.8rem;
  position: relative; */
}

/* .logo {
  height: 2.2rem;
} */

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  height: 10vh;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ---------- SECTION 1 ---------------- */

.section-1 {
  background-image: url("../images/fire-alarm-landing-2.jpg");
  background-size: cover;

  height: 90vh;
  background-position: center 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000000;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
}

.primary-title {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 45px;
  border-radius: 5px;
  color: #fff;
}

.get-quote {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #e53935;
  padding: 35px 60px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 30px;
}

.get-quote:hover {
  background-color: #c62828;
}

/* -------- SECTION RED QUOTE ------------- */

.section-quote {
  background-color: #e53935;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.quote-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quote-container h2 {
  font-size: 3rem;
}

.quote-container p {
  font-size: 5rem;
}

.quote-number {
  /* color: #ffff00; */
  font-weight: 900;
  font-size: 6rem;
}

/* ---------- EMAIL US --------------- */

.email-us {
  background-color: #e53935;
  height: 30vh;
  color: #fff;
}

/* ---------- FEATURES--------------- */

.feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.section-icons {
  padding: 9.6rem 0;
}

.feature-icon {
  color: #fff;
  height: 5.2rem;
  width: 5.2rem;
  background-color: #555555;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  border: 0.3rem solid #e53935;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

/* ---------------- CONTACT FORM ------------------ */

.contact-section {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 10rem;
  /* background-color: #e53935; */
  background-color: #d3d3d3;
  /* background-image: url("../images/contact-form-background.jpg");
  background-size: cover;

  
  background-position: center; */
}

.contact-form-container {
  /* padding: 5rem; */
  /* width: 60%; */
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-bottom: 2rem;
}

.contact-map {
  width: 30vw;
  height: 50vh;
  border: 1px solid #ddd; /* Customize the border properties */
  border-radius: 8px; /* Adjust the border radius to control the corners */
  overflow: hidden; /* Hide any content that overflows the container */
}

.enquiries-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-self: baseline;
  color: #333;
  width: 30vw;
}

.enquiries-container h1 {
  font-size: 3rem;
  font-weight: 300;
}

.enquiries-container p {
  font-size: 2rem;
}

.enq-email {
  color: #e53935;
  margin-top: 10px;
  display: block;
}
.contact-iframe {
  width: 100%;
  height: 100%;
  border: 0; /* Remove the border of the iframe */
}

.contact-header {
  font-size: 4rem;
  margin-bottom: 10rem;
  text-align: center;
  color: #e53935;
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  color: #333;

  width: 30vw;
  height: 100%;
}

textarea {
  height: 19rem; /* Adjust this value as needed */
  /* Other styles */
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.5rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #e53935;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: #c62828;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  flex: 1;
  margin-right: 10px;
}

.input-group label {
  display: block;
}

.required {
  color: red;
}

.required-text {
  font-style: italic;
  color: #808080;
  display: inline-block;
  margin-bottom: 1rem;
}
